<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
  <h1>Product details</h1>

  <h4>The details of the product are as follows: </h4>

  <table>
  {% for row in data %}
      <tr>
      {% for cell in row %}
          <td style="padding: 0.5rem">{{ cell }}</td>
      {% endfor %}
      </tr>
  {% endfor %}
 </table>
<!-- <p><a href="index">Go back</a></p> -->


</body>


</html>
