<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% with custId=custId,custName=custName %}
  {% include 'default_buttons.html' %}
{% endwith %}
<body>
  <h1>Product details</h1>

  <!-- <h4>The product details are: </h4> -->

  <table name = "details_table" >
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Expiry</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Supplier ID</th>
      <th>Supplier's phone</th>
      <th>Supplier's address</th>
    </tr>
  {% for row in data %}
      {% set outer_loop = loop.index0 %}
      {% for cell in row %}
        {% if loop.index0 <= 7 and outer_loop == 1%}
          <td style="padding: 0.5rem">{{ cell }}</td>
        {% endif %}
      {% endfor %}
      {% endfor %}
 </table>

 <h4> The rating(s) and review(s) of the product are: </h4>


  <table>
    <tr>
      <th>Rating</th>
      <th>Review</th>
    </tr>
  {% for row in data %}
  {% set outer_loop = loop.index0 %}
      <tr>
      {% for cell in row %}
        {% if loop.index0 > 7 and outer_loop >= 1%}
          <td style="padding: 0.5rem">{{ cell }}</td>
        {% endif %}
      {% endfor %}
      </tr>
  {% endfor %}
 </table>
<!-- <p><a href="index">Go back</a></p> -->


</body>


</html>
