<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Product catalog</h1>
  <!--<div>{{data}}</div>-->

  <h4> Click on a product ID to see details about that product </h4>
  <form>
  <table>
  {% for row in data %}
      <tr>
      {% set outer_loop = loop.index0 %}
      {% for cell in row %}
        {% if loop.index0 == 0 and outer_loop != 0 %}
          <td style="padding: 0.5rem"><a href="{{ url_for('details',proid=cell)}}">{{ cell }}</a></td>
        {%else%}
          <td style="padding: 0.5rem">{{ cell }}</td>
        {% endif %}
      {% endfor %}
        <td>
        <label>Quantity</label><br>
        <input type="number" name={{loop.index}} required min="0" max = "100" value = "0"><br>
      </td>
      </tr>
  {% endfor %}
 </table>
</form>


<form action="/action_page.php" method="get">
  <label for="payment">Choose your payment method:</label>
  <input list="payments" name="payment" id="payment">
  <datalist id="payments">
    <option value="Credit card">
    <option value="Debit card">
    <option value="Paypal">
  </datalist>
  <input type="submit">
</form>

<!-- <form method="GET" action="/orderplaced">
<p>
  <input type="submit" value="Submit the order"></p>
</form>
 -->


<!-- <p><a href="another">Go to the other page</a></p> -->

<!-- <form method="GET" action="/details">
<p>Enter proid to see details 
  <input type="number" name="pid" required min="1" max="10"> 
  <input type="submit" value="Submit"></p>
</form> -->


</body>


</html>
