<!DOCTYPE html>
<html>
<body>

<h1>The datalist element</h1>

<form action="/action_page.php" method="get">
  <label for="browser">Choose your browser from the list:</label>
  <input list="browsers" name="browser" id="browser">
  <datalist id="browsers">
    <option value="Edge">
    <option value="Firefox">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
  </datalist>
  <input type="submit">
</form>


<form action="">
        <label>Your Cars Name: </label>
        <input list="cars">
            
        <!--datalist Tag starts here -->
        <datalist id="cars">
            <option value="BMW"/>
            <option value="Bentley"/>
            <option value="Mercedes"/>
            <option value="Audi"/>
            <option value="Volkswagen"/>
        </datalist>
        <!--datalist Tag ends here -->
 
    </form>

</body>
</html>