<style>
    form {
    border: 3px solid #f1f1f1;
    margin: 0 auto;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  h1{
    text-align: center;
  
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #0444aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  </style>
  <form class="modal-content animate" method="POST" action="/addnewCustomer">
    <div class="container">
      <h1>New User Registration</h1>
      <input type="text" placeholder="Name" name="name" required>
      <input type="password" placeholder="Password" name="password" required maxlength="6" minlength="6">
      <input type="text" placeholder="Mobile Number" name="phone" required>
      <div class="container">
        <h2>Address</h2>
        <input type="text" placeholder="Street" name="street" required>
        <input type="text" placeholder="Apartment Number" name="aptno" required>
        <input type="text" placeholder="City" name="city" required>
        <input type="text" placeholder="State" name="state" required maxlength="2" minlength="2">
        <input type="text" placeholder="Zip" name="zip" required maxlength="5" minlength="5">
      </div>      
      <button type="submit">Register</button>
    </div>
  </form>
  