<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
{% with custId=custId,custName=custName %}
  {% include 'default_buttons.html' %}
{% endwith %}
<body>

<h2>{{custName}}'s Past Orders</h2>

<div name="displayOrders">

  <table class="ordersTable">
    <tr>
      <th>Order Id</th>
      <th>Total No of Items</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    {% for order in orders %}
    <tr>
      <td><a href="{{ url_for('viewOrderDetails',custId = custId, orderId=order['orderid']) }}">{{order["orderid"]}}</a></td>
      <td>{{order["itemcount"]}}</td>
      <td>{{order["amount"]}}</td>
      <td>{{order["order_date"]}}</td>
    </tr>
    {% endfor %}

  </table>>


</div>